<h5> Exemplos pipes</h5>
<p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Estrela: {{livro.rating  | number:'1.1-1'}}</p>
<p>Páginas: {{livro.paginas | number}}</p>
<p>Preço: {{livro.preco | currency: 'BRL': true}}</p>
<p>Data: {{livro.data | date}}</p>
<p>URL: {{livro.url}}</p>

<br>
<p> Livro {{livro  | json}}</p>
<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<br>

<button (click)="addLivro(novoValor.value)"></button>

<h5>Pipe Puro</h5>
<ul>
  <li *ngFor="let liv of livros | filtroPipe: filtro"> {{liv}}</li>
</ul>

<h5>Pipe Impuro</h5>
<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro: filtro"> {{liv}}</li>
</ul>

<h5>Maneira Correta</h5>
<ul>
  <li *ngFor="let liv of obterLivros()"> {{liv}}</li>
</ul>

<p>{{valorAsync | async}}</p>
