<!--<app-diretiva-ngif></app-diretiva-ngif>-->
<!--<app-diretiv-ngswitch></app-diretiv-ngswitch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--<app-exemplo-ng-content>-->
<!--  <div class="titulo">-->
<!--    Titulo-->
<!--  </div>-->
<!--  <div class="conteudo">-->
<!--    Conteúdo a ser exibido.-->
<!--  </div>-->
<!--  <div class="conteudo">-->
<!--    Conteúdo a ser exibido. 2-->
<!--  </div>-->
<!--</app-exemplo-ng-content>-->
<app-diretivas-customizadas></app-diretivas-customizadas>
<router-outlet></router-outlet>
